@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
@import url('https://fonts.cdnfonts.com/css/clash-display');

html,body {
  background-color: #fff;
  overflow-x: hidden!important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  font-family: 'Clash Display', sans-serif!important;
}


@media (max-width: 767.98px){
  .desktop {
    display: none!important;
  }
}

@media (min-width: 992px){
  .mobile {
    display: none!important;
  }
}

@media (min-width: 992px){
  li.nav-item {
    padding-left: 30px;
 }
}


.nav-link {
  color: #092767!important;
  font-size: 14px!important;
  font-weight: 500!important;
  line-height: 24px;
}

nav.navbar {
  background-color: transparent;
  
}

.nav-badge {
  border: 1px solid #092767;
  border-radius: 4px;
  font-size: 9px;
  font-weight: 400;
  line-height: 11px;
  padding: 1px 10px;
}

@media (min-width: 992px){
  .banner {
    padding: 250px 10px;
    background: linear-gradient(156.19deg, rgba(37, 99, 235, 0.15) 15.31%, rgba(53, 30, 53, 0) 79.35%);
  }
}

@media (max-width: 767.98px){
  .banner {
    padding: 100px 10px;
    background: linear-gradient(156.19deg, rgba(37, 99, 235, 0.15) 15.31%, rgba(53, 30, 53, 0) 79.35%);
  }
}

@media (min-width: 992px){
  .banner h2 {
    font-size: 65px;
    line-height: 80px;
    font-weight: 600;
    color: #092767;
  }
}

@media (max-width: 767.98px){
  .banner h2 {
    font-size: 45px;
    line-height: 55px;
    font-weight: 600;
    color: #092767;
  }
}

.banner h6 {
  font-size: 16px;
  line-height: 25px;
  font-weight: 500;
  color: #092767;
}

.separator {
  align-items: center;
  display: flex;
}

.separator .line {
  background-color: #F3F4F6;
  flex: 1 1;
  height: 1px;
}

.separator h3 {
  margin-bottom: 0;
  padding: 0 20px;
  font-size: 20px;
  font-weight: 500;
  color: #092767;
}

.loanfeat {
  padding: 90px 10px;
}

.special-services {
  padding: 100px 20px;
  background-color: #FCFCFD;
}

.special-services h2 {
  color: #F43F5E;
  font-size: 22px;
  line-height: 83px;
  font-weight: 400;
}

.special-services h3 {
  color: #092767;
  font-size: 60px;
  line-height: 83px;
  font-weight: 500;
}

.special-services h1 {
  color: #092767;
  font-size: 40px;
  line-height: 60px;
  font-weight: 600;
}

.special-services p {
  color: #9CA3AF;
  font-size: 16px;
  line-height: 32px;
  font-size: 500;
}

.loans {
  padding-top: 90px;
}

@media (min-width: 992px){
  .downing {
    padding-top: 100px;
  }
}