@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
@import url('https://fonts.cdnfonts.com/css/clash-display');

html,body {
  background-color: #fff;
  overflow-x: hidden!important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  font-family: 'Clash Display', sans-serif!important;
}

a {
  text-decoration: none!important;
}

@media (max-width: 767.98px){
  .desktop {
    display: none!important;
  }
}

@media (min-width: 992px){
  .mobile {
    display: none!important;
  }
}

@media (min-width: 992px){
  li.nav-item {
    padding-left: 30px;
 }
}


.navhome .nav-link {
  color: #092767!important;
  font-size: 14px!important;
  font-weight: 500!important;
  line-height: 24px;
}

nav.navbar {
  background-color: #e7eefd;
  
}

.nav-badge {
  border: 1px solid #092767;
  border-radius: 4px;
  font-size: 9px;
  font-weight: 400;
  line-height: 11px;
  padding: 1px 10px;
}

@media (min-width: 992px){
  .banner {
    padding: 250px 10px;
    background: linear-gradient(156.19deg, rgba(37, 99, 235, 0.15) 15.31%, rgba(53, 30, 53, 0) 79.35%);
  }
}

@media (max-width: 767.98px){
  .banner {
    padding: 170px 10px 100px 10px;
    background: linear-gradient(156.19deg, rgba(37, 99, 235, 0.15) 15.31%, rgba(53, 30, 53, 0) 79.35%);
  }
}

@media (min-width: 992px){
  .banner h2 {
    font-size: 65px;
    line-height: 80px;
    font-weight: 600;
    color: #092767;
  }
}

@media (max-width: 767.98px){
  .banner h2 {
    font-size: 45px;
    line-height: 55px;
    font-weight: 600;
    color: #092767;
  }
}

.banner h6 {
  font-size: 16px;
  line-height: 25px;
  font-weight: 500;
  color: #092767;
}

.separator {
  align-items: center;
  display: flex;
}

.separator .line {
  background-color: #F3F4F6;
  flex: 1 1;
  height: 1px;
}

.separator h3 {
  margin-bottom: 0;
  padding: 0 20px;
  font-size: 20px;
  font-weight: 500;
  color: #092767;
}

.loanfeat {
  padding: 90px 10px;
}

.special-services {
  padding: 100px 20px;
  background-color: #FCFCFD;
}

.special-services h2 {
  color: #F43F5E;
  font-size: 22px;
  line-height: 83px;
  font-weight: 400;
}

.special-services h3 {
  color: #092767;
  font-size: 60px;
  line-height: 83px;
  font-weight: 500;
}

.special-services h1 {
  color: #092767;
  font-size: 40px;
  line-height: 60px;
  font-weight: 600;
}

.special-services p {
  color: #9CA3AF;
  font-size: 16px;
  line-height: 32px;
  font-weight: 500;
}

.loans {
  padding-top: 90px;
}

.loan {
  padding-top: 120px;
}

@media (min-width: 992px){
  .downing {
    padding-top: 100px;
  }
}

@media (min-width: 992px){
  .topping {
    padding-top: 70px;
  }
}

.counter {
  padding: 100px 20px;
}

@media (min-width: 992px){
  .bg-home {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px;
    padding: 120px 317px;
    background-image: url("./assets/bg-home.svg");
  }
}

@media (max-width: 767.98px){
  .bg-home {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px;
    padding: 120px 30px;
    background-image: url("./assets/bg-home.svg");
  }
}

.bg-home h6 {
  font-size: 30px;
  line-height: 46px;
  font-size: 600;
}

.counter p {
  color: #9CA3AF;
  font-size: 16px;
  line-height: 25px;
  font-size: 500;
}

.counter span {
  color: #9CA3AF;
  font-size: 14px;
  line-height: 20px;
  font-size: 500;
}

.counter h5 {
  color: #F97316;
  font-size: 40px;
  line-height: 32px;
  font-size: 600;
}

.footer-bottom {
  background: #2563EB;
  padding: 100px 20px 60px 20px;
}

.footer-bottom p {
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.footer-bottom h4 {
  font-size: 13px;
  color: #fff;
  line-height: 32px;
  font-weight: 600;
  margin-bottom: 34px;
}

.list-unstyled {
  padding-left: 0;
}

.footer-bottom .links a {
  display: block;
  color: #fff!important;
  font-size: 13px;
  font-weight: 400;
  line-height: 32px;
  text-decoration: none;
}

.footer-bottom .links li {
  display: block;
  color: #fff!important;
  font-size: 13px;
  font-weight: 400;
  line-height: 32px;
  text-decoration: none;
}

.bottom-line {
  padding-bottom: 60px;
  border-bottom: 1px solid #D1D5DB;
}

.copyright {
  padding: 25px 0px;
}

.copyright h6 {
  font-weight: 300;
  font-size: 14px;
  line-height: 26px;
  color: #fff;
}

.navinvest {
  background-color: #092767!important;
}

.navsave {
  background-color: #2563EB!important;
}

.navsave .nav-link {
  color: #fff!important;
  font-size: 14px!important;
  font-weight: 500!important;
  line-height: 24px;
}

.navinvest .nav-link {
  color: #fff!important;
  font-size: 14px!important;
  font-weight: 500!important;
  line-height: 24px;
}

@media (min-width: 992px){
  .hero-save {
    background-color: #2563EB;
    padding: 250px 0px 150px 0px;
  }
}

@media (max-width: 767.98px){
  .hero-save {
    background-color: #2563EB;
    padding: 100px 0px;
  }
}

.hero-save h2 {
  font-size: 64px;
  line-height: 84px;
  color: #fff;
  font-weight: 500;
}

.hero-save h6 {
  font-size: 16px;
  line-height: 30px;
  color: #fff;
  font-weight: 500;
}

.future {
  background: linear-gradient(to right, #FFEB35 15%, #19FD82FC 90%)!important;
  -webkit-background-clip: text!important;
  -webkit-text-fill-color: transparent;
}

.btn-save {
  background: #fff!important;
  color: #092767!important;
  border-color: #fff!important;
}

.savebetter {
  /* background-position: center; */
  background-repeat: no-repeat;
  background-size: cover;
  padding: 120px 0px;
  background-image: url("./assets/bgsave.svg");
}

.savebetter h2 {
  font-size: 80px;
  line-height: 98px;
  color: #092767;
  font-weight: 600;
}

.savebetter h6 {
  font-size: 16px;
  line-height: 30px;
  color: #9CA3AF;
  font-weight: 500;
}

.emerge {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 260px 0px;
  background-image: url("./assets/emerge.svg");
}

.edu {
  background-image: url("./assets/edu.svg")!important;
}

.endo {
  background-image: url("./assets/end.svg")!important ;
}

.save-top {
  margin-top: 100px!important;
}

@media (min-width: 992px){
  .emerge h3 {
    font-size: 70px;
    /* line-height: 98px; */
    color: #092767;
    font-weight: 600;
  }
}

@media (max-width: 767.98px){
  .emerge h3 {
    font-size: 40px;
    /* line-height: 98px; */
    color: #092767;
    font-weight: 600;
  }
}

.emerge h6 {
  font-size: 16px;
  line-height: 30px;
  color: #092767;
  font-weight: 500;
}

@media (min-width: 992px){
  .emergency {
    padding: 0px 193px;
  } 
}

@media (max-width: 767.98px){
  .emergency {
    padding: 0px 40px;
  } 
}

@media (min-width: 992px){
  .down-emerge {
    margin-top: 360px!important;
  }
}

.coolcrowd {
  padding: 100px 20px;
}

.coolcrowd h2 {
  font-size: 70px;
  line-height: 100px;
  color: #092767;
  font-weight: 600;
}

.left-water {
  background-color: #F59E0B;
  /* padding: 200; */
}

@media (min-width: 992px){
  .leftside {
    padding: 250px 170px;
  }
}

@media (max-width: 767.98px){
  .leftside {
    padding: 110px 20px;
  }
}

.right-water {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 250px 0px;
  background-image: url("./assets/waterside.png");
}

.water h3 {
  font-size: 45px;
  line-height: 45px;
  font-weight: 600;
}

.water h6 {
  font-size: 18px;
  line-height: 38px;
  font-weight: 500;
}

.stand {
  background-color: #fff;
  padding: 100px 20px;
}

@media (min-width: 992px){
  .stand h2 {
    font-size: 85px;
    line-height: 115px;
    font-weight: 600;
    color: #092767;
  }
}

@media (max-width: 767.98px){
  .stand h2 {
    font-size: 45px;
    line-height: 70px;
    font-weight: 600;
    color: #092767;
  }
}

@media (min-width: 992px){
  .ex {
    padding: 170px 50px;
  }
}

.stand h4 {
  font-size: 24px;
  line-height: 45px;
  font-weight: 500;
  color: #092767;
}

@media (min-width: 992px){
  .navdrop {
    width: 330px;
    padding: 23px!important;
    border-radius: 24.5014px!important;
    border-color: #fff!important;
  }
}

.navdrop  h6 {
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
  color: #092767;
  margin-top: 18px;
}

@media (min-width: 992px){
  .herotop {
    margin-top: 120px!important;
  }
}

@media (max-width: 767.98px){
  .s-loan {
    background-color: #C6B5F2;
    padding: 220px 40px;
  }

  .b-loan {
    background-color: #FEC0A7;
    padding: 220px 40px;
  }

  .p-loan {
    background-color: #EBF3F9;
    padding: 220px 40px;
  }
}

@media (min-width: 992px){
  .s-loan {
    background-color: #C6B5F2;
    padding: 220px 140px;
  }

  .b-loan {
    background-color: #FEC0A7;
    padding: 220px 140px;
  }

  .p-loan {
    background-color: #EBF3F9;
    padding: 220px 140px;
  }
}

.typeloans {
  padding-top: 90px;
}

.l-heading {
  color: #092767;
  font-size: 28px;
  font-weight: 600;
  line-height: 40px;
  margin-bottom: 30px;
}

.l-text {
  color: #092767;
  font-size: 15px;
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 50px;
}

.getaccess {
  padding: 90px 20px;
}

.getaccess h2 {
  color: #092767;
  font-size: 45px;
  font-weight: 700;
  line-height: 70px;
}

.getloans {
  background-color: #F3F4F6;
  padding: 100px 10px;
}

.getloans h5 {
  color: #092767;
  font-size: 50px;
  font-weight: 500;
  line-height: 70px; 
}

.getloans h2 {
  color: #092767;
  font-size: 40px;
  font-weight: 500;
  line-height: 70px; 
}

.getloans p {
  color: #9CA3AF;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px; 
}

.loan-cards {
  background: #E5E7EB;
  border-radius: 8px;
  padding: 26px;
}

.loan-cards h1 {
  color: #092767;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;  
}

.int {
  background-color: #fff;
  padding: 100px 20px;
}

.int h2 {
  color: #092767;
  font-size: 30px;
  font-weight: 500;
  line-height: 48px; 
}

.int p {
  color: #9CA3AF;
  font-size: 16px;
  font-weight: 500;
  line-height: 32px; 
}

.hero-invest {
  padding: 250px 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("./assets/bg-invest.svg");
}

@media (min-width: 992px){
  .hero-invest h2 {
    font-size: 80px;
    font-weight: 600;
    line-height: 100px; 
  }
}

@media (max-width: 767.98px){
  .hero-invest h2 {
    font-size: 50px;
    font-weight: 600;
    line-height: 60px; 
  }
}

.hero-invest h6 {
  font-size: 16px;
  font-weight: 500;
  line-height: 30px; 
}

.termsbreadcrumb {
  padding: 200px 20px;
  background-color: #E3EBFC;
}

.termsbreadcrumb h2 {
  font-size: 60px;
  font-weight: 600;
  line-height: 73px; 
  color: #092767;
}

.termsbreadcrumb h6 {
  font-size: 16px;
  font-weight: 500;
  line-height: 19px; 
  color: #092767;
}

.termscontent {
  padding: 100px 20px;
}

.termscontent p {
  font-size: 16px;
  font-weight: 500;
  line-height: 32px; 
  color: #6B7280;
}

.termscontent h2 {
  font-size: 30px;
  font-weight: 600;
  line-height: 36px; 
  color: #092767;
}

.termscontent h4 {
  font-size: 30px;
  font-weight: 600;
  line-height: 30px; 
  color: #092767;
}